<div class="kozep">
	<br><br><br><br><br><br>
	<center>
	<div class="style w3-container w3-round-large w3-brown">
		<br>
		<form name="ujketrecform" class="w3-container w3-round-large f2">
			<select ng-model="ketrec.kategoria" required>
				<option value="">Válasszon ketrec kategóriát!
				<option value="anyanyúl ketrec">anyanyúl ketrec
				<option value="baknyúl ketrec">baknyúl ketrec
				<option value="hízónyúl nőstény ketrec">hízónyúl nőstény ketrec
				<option value="hízónyúl bak ketrec">hízónyúl bak ketrec
			</select>
				<br>
			<div ng-if="ketrec.kategoria" class="w3-container w3-round-large f2">Ketrec szám <!--ketrec objektum adatai-->
				<input type="text" ng-model="ketrec.ketrecszam" required>
				<br>Ketrec férőhelyek száma
				<input type="text" ng-model="ketrec.ferohelyszam" required>
				<br><br>
			</div>
			<button ng-if="ujketrecform.$valid" ng-click="ketreckuld()">Elküld
			</button>
			<div ng-if="ketrec_ketrecszam_hiba" class="w3-red">
			<h4>Ketrecszám hiba!
			<br>
			Nem rögzíthető!
			<br>
			Adjon meg új ketrecszámot!
			</h4>
			</div>
		</form>
		<br>
	</div>
</div>